/* Global styles */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease;
    background-image: url('../static/your-galaxy-background.jpg'); /* Update path as needed */
    background-size: cover;
    background-attachment: fixed;
}