<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Track and manage your arcade facilitator program points and badges.">
    <meta name="keywords" content="Arcade Facilitator, Points Counter, Badges, Cloud Skills Boost">
    <title>Points Counter</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body class="bg-gray-900 text-white font-roboto flex flex-col min-h-screen m-0">
    <!-- Navbar -->
    <nav class="bg-gray-800 p-1 shadow">
        <div class="container mx-auto flex justify-between items-center">
            <a href="https://rsvp.withgoogle.com/events/arcade-facilitator/enrol" class="text-xl font-bold text-white" target="_blank">Arcade Facilitator Program</a>
            <div class="hidden md:flex space-x-4">
                <a href="./" class="text-white hover:text-blue-500">Home</a>
                <a href="https://www.sufiyankhan.tech/" class="text-white hover:text-blue-500" target="_blank">About</a>
                <a href="https://chat.whatsapp.com/GDVnuFfVCcR7h5XBbAb1VX" class="text-white hover:text-blue-500" target="_blank" rel="noopener noreferrer">Join Our Community</a>
            </div>
            <button id="menuToggle" class="md:hidden text-white" aria-label="Toggle Menu">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
        <div id="mobileMenu" class="md:hidden fixed inset-0 bg-gray-800 bg-opacity-75 flex flex-col items-center justify-center space-y-4 hidden">
            <a href="./" class="text-white text-xl hover:text-blue-500">Home</a>
            <a href="https://www.sufiyankhan.tech/" class="text-white text-xl hover:text-blue-500" target="_blank">About</a>
            <a href="https://chat.whatsapp.com/GDVnuFfVCcR7h5XBbAb1VX" class="text-white text-xl hover:text-blue-500" target="_blank">Join Our Community</a>
            <button id="closeMenu" class="text-white text-3xl">&times;</button>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mx-auto p-4 flex-grow flex flex-col items-center">
        <!-- Form for entering URL -->
        <div class="w-full max-w-2xl mb-8">
            <form action="/" method="POST" class="bg-gray-800 rounded-lg p-4 shadow-lg">
                <label for="profile_url" class="block text-lg font-medium mb-2">Enter Profile URL:</label>
                <input type="text" id="profile_url" name="profile_url" placeholder="https://www.cloudskillsboost.google/public_profiles" required class="w-full p-2 border border-gray-700 rounded-lg bg-gray-900 text-white">
                <button type="submit" class="mt-4 px-4 py-2 bg-green-500 text-white rounded-lg shadow hover:bg-green-600">Submit</button>
                <div id="error" class="text-red-500 mt-2 hidden"></div>
            </form>
        </div>

        <!-- User Card -->
        <div class="bg-gradient-to-r from-blue-500 to-purple-500 rounded-lg w-full max-w-2xl h-64 shadow-lg mx-auto flex items-center justify-center mb-8">
            <div class="text-center flex flex-col items-center justify-center">
                <img src="{{ data.avatar_url }}" alt="User Avatar" class="rounded-full w-28 h-28 mb-2"> 
                <h2 class="text-white text-lg font-bold">Welcome, {{ data.user_name }}</h2>
            </div>
        </div>
        

        <!-- Points Summary Section -->
        <div class="mb-10 w-full max-w-2xl">
            {% if data.game_trivia or data.level_games or data.cloud_digital_leader or data.skill_badges or data.arcade_classroom %}
            <section class="bg-gray-800 rounded-lg p-4 shadow-lg">
                <h2 class="text-xl font-semibold mb-4 text-center">Points Summary</h2>
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-gray-800 border border-gray-700">
                        <thead>
                            <tr>
                                <th class="py-2 px-4 border-b border-gray-600 text-left">Category</th>
                                <th class="py-2 px-4 border-b border-gray-600 text-right">Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="py-2 px-4 border-b border-gray-600">Normal Skill Badges Points</td>
                                <td class="py-2 px-4 border-b border-gray-600 text-right">{{ data.points.normal_skill_badges_points }}</td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 border-b border-gray-600">Monsoon Skill Badges Points</td>
                                <td class="py-2 px-4 border-b border-gray-600 text-right">{{ data.points.special_skill_badges_points }}</td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 border-b border-gray-600">Arcade Games Points</td>
                                <td class="py-2 px-4 border-b border-gray-600 text-right">{{ data.points.level_games_points }}</td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 border-b border-gray-600">Flash Games Points</td>
                                <td class="py-2 px-4 border-b border-gray-600 text-right">{{ data.points.flash_games_points }}</td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 border-b border-gray-600">Trivia Game Points</td>
                                <td class="py-2 px-4 border-b border-gray-600 text-right">{{ data.points.game_trivia_points }}</td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 border-b border-gray-600">Cloud Digital Leader Points</td>
                                <td class="py-2 px-4 border-b border-gray-600 text-right">{{ data.points.cloud_digital_leader_points }}</td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 border-b border-gray-600">Arcade Classroom Points</td>
                                <td class="py-2 px-4 border-b border-gray-600 text-right">{{ data.points.arcade_classroom_points }}</td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 border-b border-gray-600">Bonus Points</td>
                                <td class="py-2 px-4 border-b border-gray-600 text-right">{{ data.points.milestone_bonus }}</td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 border-b border-gray-600">Milestone Earned</td>
                                <td class="py-2 px-4 border-b border-gray-600 text-right">{{ data.points.milestone }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            {% endif %}
        </div>

        <!-- Swag Eligibility Card -->
        <div class="mb-8 w-full max-w-2xl">
            <section class="bg-gradient-to-r from-yellow-400 to-red-400 rounded-lg p-6 shadow-lg">
                <h2 class="text-3xl font-semibold mb-4 text-center">Swag Eligibility</h2>
                <p class="text-lg text-center">Total Points: <strong class="text-2xl">{{ data.points.total_points }}</strong></p>
                <p class="mt-2 text-lg text-center">Based on your total points, you are eligible for:</p>
        
                <!-- Progress Bar Journey -->
                <div class="relative mt-4 mb-6">
                    <!-- Background Bar -->
                    <div class="w-full bg-gray-300 h-4 rounded-full overflow-hidden">
                        <!-- Dynamic Progress Bar -->
                        <div class="bg-blue-600 h-full rounded-full transition-all duration-500"
                             style="width: {{ (data.points.total_points / 75) * 100 }}%"></div>
                    </div>
                    
                    <!-- Milestone Labels -->
                    <div class="absolute top-5 inset-x-0 flex justify-between text-sm font-semibold">
                        <span class="text-gray-600">0</span>
                        <span class="{% if data.points.total_points >= 15 %}text-blue-600{% else %}text-gray-600{% endif %}">15 (Standard)</span>
                        <span class="{% if data.points.total_points >= 30 %}text-blue-600{% else %}text-gray-600{% endif %}">30 (Advanced)</span>
                        <span class="{% if data.points.total_points >= 45 %}text-blue-600{% else %}text-gray-600{% endif %}">45 (Premium)</span>
                        <span class="{% if data.points.total_points >= 65 %}text-blue-600{% else %}text-gray-600{% endif %}">65 (Premium+)</span>
                        <span class="{% if data.points.total_points >= 75 %}text-blue-600{% else %}text-gray-600{% endif %}">75 (Champions)</span>
                    </div>
                    
                </div>
        
                <!-- Display Eligibility Milestone -->
                <ul class="list-disc pl-5 pt-5 text-gray-800 text-lg">
                    {% if data.points.total_points >= 75 %}
                        <p class="text-lg text-center">Total Points: <strong class="text-2xl">{{ data.points.total_points }}</strong></p>
                        <li class="text-center text-2xl">Champions Milestone</li>
                    {% elif data.points.total_points >= 65 %}
                        <p class="text-lg text-center">Total Points: <strong class="text-2xl">{{ data.points.total_points }}</strong></p>
                        <li class="text-center text-2xl">Premium+ Milestone</li>
                    {% elif data.points.total_points >= 45 %}
                        <li class="text-center text-2xl">Premium Milestone</li>
                    {% elif data.points.total_points >= 30 %}
                        <li class="text-center text-2xl">Advanced Milestone</li>
                    {% elif data.points.total_points >= 15 %}
                        <li class="text-center text-2xl">Standard Milestone</li>
                    {% else %}
                        <li class="text-center text-2xl">No Milestone Achieved</li>
                    {% endif %}
                </ul>
                
            </section>
        </div>
        

        <!-- User Badges Section -->
        
        <!-- Display Badges Sections Only if Data Exists -->
        {% if data.game_trivia or data.level_games or data.cloud_digital_leader or data.skill_badges or data.arcade_classroom %}
        <p class="text-center text-3xl font-bold mb-8">Your Badges.</p>

            {% if data.game_trivia %}
            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">Trivia Game ({{ data.badge_counts.game_trivia_count }})</h2>
                <div class="flex flex-wrap justify-center gap-4">
                    {% for badge in data.game_trivia %}
                        <div class="bg-gray-800 border border-gray-700 rounded-lg p-4 w-64 shadow-md hover:shadow-lg transition-shadow">
                            <img src="{{ badge.image }}" alt="{{ badge.title }}" class="w-full h-auto rounded-md mb-2">
                            <h3 class="text-lg font-semibold mb-1">{{ badge.title }}</h3>
                            <p class="text-gray-400">{{ badge.date if badge.date else 'Date not available' }}</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
            {% endif %}

            {% if data.level_games %}
            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">Arcade Games ({{ data.badge_counts.level_games_count }})</h2>
                <div class="flex flex-wrap justify-center gap-4">
                    {% for badge in data.level_games %}
                        <div class="bg-gray-800 border border-gray-700 rounded-lg p-4 w-64 shadow-md hover:shadow-lg transition-shadow">
                            <img src="{{ badge.image }}" alt="{{ badge.title }}" class="w-full h-auto rounded-md mb-2">
                            <h3 class="text-lg font-semibold mb-1">{{ badge.title }}</h3>
                            <p class="text-gray-400">{{ badge.date if badge.date else 'Date not available' }}</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
            {% endif %}
            {% if data.flash_games %}
            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">Flash Games ({{ data.badge_counts.flash_games_count }})</h2>
                <div class="flex flex-wrap justify-center gap-4">
                    {% for badge in data.flash_games %}
                        <div class="bg-gray-800 border border-gray-700 rounded-lg p-4 w-64 shadow-md hover:shadow-lg transition-shadow">
                            <img src="{{ badge.image }}" alt="{{ badge.title }}" class="w-full h-auto rounded-md mb-2">
                            <h3 class="text-lg font-semibold mb-1">{{ badge.title }}</h3>
                            <p class="text-gray-400">{{ badge.date if badge.date else 'Date not available' }}</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
            {% endif %}

            {% if data.cloud_digital_leader %}
            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">Cloud Digital Leader ({{ data.badge_counts.cloud_digital_leader_count }})</h2>
                <div class="flex flex-wrap justify-center gap-4">
                    {% for badge in data.cloud_digital_leader %}
                        <div class="bg-gray-800 border border-gray-700 rounded-lg p-4 w-48 shadow-md hover:shadow-lg transition-shadow">
                            <img src="{{ badge.image }}" alt="{{ badge.title }}" class="w-full h-auto rounded-md mb-2">
                            <h3 class="text-lg font-semibold mb-1">{{ badge.title }}</h3>
                            <p class="text-gray-400">{{ badge.date if badge.date else 'Date not available' }}</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
            {% endif %}
            {% if data.arcade_Classroom %}
            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">Arcade Classroom ({{ data.badge_counts.arcade_Classroom_count }})</h2>
                <div class="flex flex-wrap justify-center gap-4">
                    {% for badge in data.arcade_Classroom %}
                        <div class="bg-gray-800 border border-gray-700 rounded-lg p-4 w-48 shadow-md hover:shadow-lg transition-shadow">
                            <img src="{{ badge.image }}" alt="{{ badge.title }}" class="w-full h-auto rounded-md mb-2">
                            <h3 class="text-lg font-semibold mb-1">{{ badge.title }}</h3>
                            <p class="text-gray-400">{{ badge.date if badge.date else 'Date not available' }}</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
            {% endif %}

           

            {% if data.skill_badges %}
            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">Skill Badges ({{ data.badge_counts.skill_badges_count }})</h2>
                <div class="flex flex-wrap justify-center gap-4">
                    {% for badge in data.skill_badges %}
                        <div class="bg-gray-800 border border-gray-700 rounded-lg p-4 w-64 shadow-md hover:shadow-lg transition-shadow">
                            <img src="{{ badge.image }}" alt="{{ badge.title }}" class="w-full h-auto rounded-md mb-2">
                            <h3 class="text-lg font-semibold mb-1">{{ badge.title }}</h3>
                            <p class="text-gray-400">{{ badge.date if badge.date else 'Date not available' }}</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
            {% endif %}
        {% endif %}
    </div>

    <!-- Footer -->
    <footer class="bg-gray-900 p-4 mt-4">
        <div class="container mx-auto text-center">
            <p class="text-gray-400">
                Built by Sufiyan Khan | Connect with me on 
                <a href="https://www.linkedin.com/in/sufiyankhan15" class="text-blue-500" target="_blank">LinkedIn</a> and 
                <a href="https://github.com/sufi1512" class="text-blue-500" target="_blank">GitHub</a>.
            </p>
        </div>
    </footer>
    
    <script>
        // Function to update visitor count
        function updateVisitorCount() {
            let count = localStorage.getItem('visitorCount') ? parseInt(localStorage.getItem('visitorCount')) : 0;
            count++;
            localStorage.setItem('visitorCount', count);
            document.getElementById('visitorCount').innerText = count;
        }
    
        // Call the function on page load
        window.onload = updateVisitorCount;
    </script>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/script.js"></script>
    <script>
        // Menu toggle functionality
        $('#menuToggle').on('click', function () {
            $('#mobileMenu').toggleClass('hidden');
        });

        $('#closeMenu').on('click', function () {
            $('#mobileMenu').addClass('hidden');
        });
    </script>
    
</body>

</html>
